
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Edward Garcia</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Edward Garcia">
    <meta name="description" content="Resume of Edward Garcia">
    <meta name="keywords" content="Edward Garcia, Development, Oracle Database, Oracle, .NET Framework">
    <link href="~/assets/styles/style.css" rel="stylesheet" />
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <link rel="icon" href="https://edwardgarcia.azurewebsites.net/MyOthers/assets/favicon.ico">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"
            integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <style>
        /*stop video [MOBILE] ADDED TO SCRIPT INSTEAD*/

    </style>
</head>

<body id="page-top">
    <!--NAVIGATION START-->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler float-right"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class=" js-scroll-trigger myName" style="font-weight: 1000;" href="#home">
                        Edward
                        Garcia
                    </a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-weight: 1000;"
                           href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-weight: 1000;"
                           href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-weight: 1000;"
                           href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-weight: 1000;"
                           href="#experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-weight: 1000;"
                           href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="font-weight: 1000;"
                           href="#contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!--NAVIGATION END-->

    <header id="home" style="height:100%;">

        <div class="overlay"></div>
        <video playsinline="playsinline" muted="muted" loop="loop">
            <source src="~/assets/EdwardResume.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <div class="mx-auto header-content" style="color:white;">
                        <span id="typed6"></span>
                        <!-- <span id="typed7"></span> -->


                        <div>
                            <span>

                                <a class="btn btn-xl js-scroll-trigger" role="button" href="#about">Enter</a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </header>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#000000" fill-opacity="1"
              d="M0,128L30,138.7C60,149,120,171,180,176C240,181,300,171,360,154.7C420,139,480,117,540,144C600,171,660,245,720,266.7C780,288,840,256,900,234.7C960,213,1020,203,1080,213.3C1140,224,1200,256,1260,245.3C1320,235,1380,181,1410,154.7L1440,128L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
        </path>
    </svg>

    <section id="about" style="background-color: #000000;">
        <div style="text-align: center; margin-bottom: 50px; color: #FFFFFF;">
            <h1 style="font-weight: 1000;">About Me</h1>
            <div>
                <h7 style="font-style: italic;">Know more about my background</h7>
            </div>
        </div>
        <div class="container" style="color: #FFFFFF;">
            <div class="row">
                <div class="col-sm-7">
                    <p>
                        I'm an Information Technology student aspiring to become a professional software engineer for
                        backend development. I use C# ASP.NET MVC5 for building web applications together with Entity
                        Framework ORM and Dapper Micro ORM.
                    </p>

                    <p>
                        Being specialized in Data Management at Mapúa, I have a knowledge in Oracle Database Architecture
                        in terms of creating PL/SQL queries and packages, I also use that knowledge to design a database
                        for Oracle Database and Microsft SQL Server.
                    </p>

                    <p>
                        <span class="ml-1">
                            <a href="https://github.com/ESGFreelance" target="_blank">
                                <i class="fab fa-github-square fa-3x"></i>
                            </a>
                        </span>
                        <span class="ml-1">
                            <a href="https://stackoverflow.com/users/6327976/edward-garcia"
                               target="_blank"> <i class="fab fa-stack-overflow fa-3x"></i></a>
                        </span>
                        <span class="ml-1">
                            <a href="https://www.linkedin.com/in/edward-garcia-752844125/"
                               target="_blank"> <i class="fab fa-linkedin fa-3x"></i></a>
                        </span>
                        <span class="ml-1">
                            <a href="https://www.researchgate.net/profile/Edward-Garcia" target="_blank">
                                <i class="fab fa-researchgate fa-3x"></i>
                            </a>
                        </span>

                    </p>
                    @*<a class="btn btn btn-dark btn-xl"
                        href="https://drive.google.com/file/d/12XR3R45SaUNF-1YC39Ob3V5r5kMiMv2n/view?usp=sharing"
                        download="Edward Garcia Resume">Download résumé</a>*@


                    @Html.ActionLink("Download résumé", "DownloadFile", null, new { @class = "btn btn btn-dark btn-xl" })


                </div>

                <div class="col-sm-5">
                    <a href="#contact" class="js-scroll-trigger">
                        <img src="~/assets/img/programmer2.png"
                             class="box bounceObject">
                    </a>
                </div>
            </div>


        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#FFFFFF" fill-opacity="1"
                  d="M0,128L15,133.3C30,139,60,149,90,160C120,171,150,181,180,170.7C210,160,240,128,270,149.3C300,171,330,245,360,234.7C390,224,420,128,450,96C480,64,510,96,540,122.7C570,149,600,171,630,149.3C660,128,690,64,720,42.7C750,21,780,43,810,53.3C840,64,870,64,900,58.7C930,53,960,43,990,53.3C1020,64,1050,96,1080,101.3C1110,107,1140,85,1170,85.3C1200,85,1230,107,1260,117.3C1290,128,1320,128,1350,117.3C1380,107,1410,85,1425,74.7L1440,64L1440,320L1425,320C1410,320,1380,320,1350,320C1320,320,1290,320,1260,320C1230,320,1200,320,1170,320C1140,320,1110,320,1080,320C1050,320,1020,320,990,320C960,320,930,320,900,320C870,320,840,320,810,320C780,320,750,320,720,320C690,320,660,320,630,320C600,320,570,320,540,320C510,320,480,320,450,320C420,320,390,320,360,320C330,320,300,320,270,320C240,320,210,320,180,320C150,320,120,320,90,320C60,320,30,320,15,320L0,320Z">
            </path>
        </svg>

    </section>

    <section id="skills">
        <div style="text-align: center; margin-bottom: 50px;">
            <h1 style="font-weight: 1000;">SKILLSET</h1>
            <div>
                <h7 style="font-style: italic;">My tools in developing softwares</h7>
            </div>

        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top" src="~/assets/img/skills/skill1.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">C# MVC5</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill2.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">Dapper Micro ORM</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill3.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">Entity Framework</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top" src="~/assets/img/skills/skill4.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">Oracle Database</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill5.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">SQL Server</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill6.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">JQuery</h6>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill7.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">Leaflet.JS</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill8.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">Twitter API</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill9.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">Chart.JS</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill10.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">EPPLUS</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill14.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">Bootstrap</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="card border-0">
                        <img class="card-img-top scale-on-hover" src="~/assets/img/skills/skill13.png" alt="Card Image">
                        <div class="card-body">
                            <h6 class="projectDescription">Map Quest</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section id="experience">
        <div style="text-align: center; margin-bottom: 50px; ">
            <h1 style="font-weight: 1000; ">Experience</h1>
            <div>
                <h7 style="font-style: italic;">Know more about my experience under the field of I.T.</h7>
            </div>
        </div>

        <div class="container">
            <div class="row" style="padding-bottom: 50px;">
                <div class="col-md-4">
                    <img src="~/assets/img/workFDC.png" class="myImage">
                </div>
                <div class="col-md-8">
                    <p class="experienceDescription">
                        First Datacorp - Makati City
                    </p>

                    <p>
                        Worked at First Datacorp Makati as a Backend Software Engineer and developed the School
                        Forms Generation feature of the Pisara School Management System under the mandate of
                        Department of Education (DepEd) during the 7-month internship
                        in partnership of Mapúa University and First Datacorp.
                    </p>

                    <p>
                        Used ASP.Net MVC5 during the development together with SQL Server 2018 for the database
                        integrated with Dapper Micro ORM and Entity Framework
                    </p>
                </div>
            </div>

            <div class="row" style="padding-bottom: 50px;">
                <div class="col-md-4">
                    <img src="~/assets/img/workMU.png" class="myImage">
                </div>
                <div class="col-md-8">
                    <p class="experienceDescription">
                        Mapua University and Association for Computing Machinery - Makati City
                    </p>

                    <p>
                        Developed TerraTech, a Microtask Crowdsourcing responsive web application that helps
                        citizens in the Philippines to immediately report environmental concerns using the concepts
                        of geocoding, reverse geocoding, and information visualization
                        using ASP.Net MVC5
                    </p>


                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <div style="text-align: center; margin-bottom: 50px; ">
            <h1 style="font-weight: 1000; ">Projects</h1>
            <div>
                <h7 style="font-style: italic;">
                    Click a project to be redirected to the application or the Github logo
                    to view the source code.
                </h7>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0">
                        <a id="myProject1Link" href="https://www.TerraTechBG.com" target="blank"> </a>
                        <img id="myProject1" class="card-img-top scale-on-hover" src="~/assets/img/Projects1.PNG" alt="Card Image">

                        <div class="card-body">
                            <h6 class="projectDescription">TerraTech Philippines</h6>
                            <p class="text-muted card-text">
                                A Microtask Crowdsourcing Web Application that gathers land
                                and water environmental concerns in the Philippines through the means of reverse
                                geocoding, geocoding, and data visualization.
                            </p>

                            <p>
                                <a href="https://github.com/ESGFreelance" target="_blank">
                                    <i style="color:#000000" class="fab fa-github-square fa-3x"></i>
                                </a>
                                Github
                            </p>
                            <a class="btn btn btn-dark btn-sm">Chart.JS</a>
                            <a class="btn btn btn-dark btn-sm">MVC5</a>
                            <a class="btn btn btn-dark btn-sm">LeafLetJS</a>
                            <a class="btn btn btn-dark btn-sm">Twitter Developer API</a>
                            <a class="btn btn btn-dark btn-sm">Big Data</a>
                            <a class="btn btn btn-dark btn-sm">Crowdsourcing</a>
                            <a class="btn btn btn-dark btn-sm">EPPLUS</a>
                            <a class="btn btn btn-dark btn-sm">Big Data Cloud API</a>
                            <a class="btn btn btn-dark btn-sm">JQuery</a>
                            <a class="btn btn btn-dark btn-sm">SQL Server</a>
                            <a class="btn btn btn-dark btn-sm">Dapper</a>
                            <a class="btn btn btn-dark btn-sm">TweetSharp</a>
                            <a class="btn btn btn-dark btn-sm">Environmental Welfare</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0">
                        <a id="myProject2Link" href="/Tourista/Application" target="blank"></a>
                        <img id="myProject2" class="card-img-top scale-on-hover" src="~/assets/img/Projects2.png" alt="Card Image">

                        <div class="card-body">
                            <h6 class="projectDescription">Tourista!</h6>
                            <p class="text-muted card-text">
                                This application allows users to tap into the map of the
                                Philippines in which the tapped location would reveal the nearest tourist destination
                                within that area. Users can login using their Twitter accounts to save and manage their
                                data.
                            </p>
                            <p>
                                <a href="https://github.com/ESGFreelance/ASPNETTerraTech" target="_blank">
                                    <i style="color:#000000" class="fab fa-github-square fa-3x"></i>
                                </a>
                                Github
                            </p>

                            <a class="btn btn btn-dark btn-sm">MVC5</a>
                            <a class="btn btn btn-dark btn-sm">JQuery</a>
                            <a class="btn btn btn-dark btn-sm">LeafLetJS</a>
                            <a class="btn btn btn-dark btn-sm">TweetSharp</a>
                            <a class="btn btn btn-dark btn-sm">Dapper</a>
                            <a class="btn btn btn-dark btn-sm">Htmlagilitypack</a>
                            <a class="btn btn btn-dark btn-sm">Web Scraping</a>
                            <a class="btn btn btn-dark btn-sm">Twitter Developer API</a>
                            <a class="btn btn btn-dark btn-sm">Mapquest Developer API</a>

                            <a class="btn btn btn-dark btn-sm">Travel and Culture</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0">
                        <a href="https://www.TerraTechBG.com" target="blank">
                            <img class="card-img-top scale-on-hover" src="https://grit.ph/wp-content/uploads/2020/01/mapua.jpg" alt="Card Image">
                        </a>
                        <div class="card-body">
                            <h6 class="projectDescription">Mapua Clinic I.T Process Analysis</h6>
                            <p class="text-muted card-text">
                                This is a documentation based from the current process of the clinic system of Mapua University, in which this would show the database and system process improvements of their system through the use of Oracle Forms, Oracle Reports, code documentation, and Systems Analysis and Design.
                            </p>

                            <p>
                                <a href="https://github.com/ESGFreelance" target="_blank">
                                    <i style="color:#000000" class="fas fa-file fa-3x"></i>
                                </a>
                                Document
                            </p>
                            <a class="btn btn btn-dark btn-sm">Documentation</a>
                            <a class="btn btn btn-dark btn-sm">Oracle Database</a>
                            <a class="btn btn btn-dark btn-sm">Oracle Forms</a>
                            <a class="btn btn btn-dark btn-sm">Generation</a>
                            <a class="btn btn btn-dark btn-sm">Oracle Reports</a>
                            <a class="btn btn btn-dark btn-sm">Business Process Analysis</a>
                            <a class="btn btn btn-dark btn-sm">Health and Education</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section id="contact">
        <div style="text-align: center; margin-bottom: 50px; ">
            <h1 style="font-weight: 1000; ">CONTACT</h1>
            <div>
                <h7 style="font-style: italic;">Connect through Github, LinkedIn, and ResearchGate </h7>
                <h7 style="font-style: italic;">or through the contact form</h7>
            </div>
        </div>


        <div class="container">

            <div class="row">

                @*<div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
                <div class="device" style="background-image:url('assets/img/iphone_6_plus_white_port.png');">
                    <div class="screen"><img class="img-fluid" src="assets/img/demo-screen-1.jpg"></div>
                </div>
            </div>
        </div>*@


                <div class="col-sm-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device" style="background-image:url('assets/img/iphone_6_plus_white_port.png');">
                                <div class="screen">
                                    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0"
                                            marginwidth="0"
                                            src="https://maps.google.com/maps?q=Progreso%201%20Makati%20City&t=k&z=19&ie=UTF8&iwloc=&output=embed"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div style="margin-bottom: 10px;">
                        <span class="ml-1">
                            <p>
                                If you are interested in working with me or want to know more information about my work,
                                I would love to hear from you! Contact me through any of the methods below:
                            </p>
                            <p><i class="fas fa-id-card fa-3x"></i>&nbsp;+639311091104 / IAm@EdwardGarcia.tech</p>
                            <p>OR</p>
                        </span>
                    </div>
                    @using (Html.BeginForm("SendMail", "Home", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col">
                                <input type="email" class="form-control" name="Sender" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <input type="text" class="form-control" name="Subject" placeholder="Subject" required>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <textarea class="form-control" name="Message" rows="9"
                                          placeholder="State your message (200 characters)" maxlength="200"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#222" fill-opacity="1"
              d="M0,160L34.3,154.7C68.6,149,137,139,206,154.7C274.3,171,343,213,411,218.7C480,224,549,192,617,165.3C685.7,139,754,117,823,133.3C891.4,149,960,203,1029,202.7C1097.1,203,1166,149,1234,122.7C1302.9,96,1371,96,1406,96L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z">
        </path>
    </svg>
    @Html.Raw(@TempData["messageSent"])


    <footer style="display: flex;">

        <div class="container" style="color:white;">
            <p style="font-style: oblique;">
                <h3>Edward S. Garcia</h3>
            <p>IAm@EdwardGarcia.tech</p>
            <span class="ml-1">
                <a href="https://github.com/ESGFreelance" target="_blank">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
            </span>
            <span class="ml-1">
                <a href="https://www.linkedin.com/in/edward-garcia-752844125/" target="_blank">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
            </span>
            <span class="ml-1">
                <a href="https://www.researchgate.net/profile/Edward-Garcia" target="_blank">
                    <i class="fab fa-researchgate fa-3x"></i>
                </a>
            </span>
            <p>&copy; 2021</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js "></script>
    <script src="~/assets/js/new-age.js"></script>
</body>



</html>

<script>

    $(document).ready(function () {
        LoadMyHeader();
        //DON'T PLAY VIDEO
        if (document.body.clientWidth >= 870) {
            $('video').attr('autoplay', true);
        }
        else {
            $('video').attr('autoplay', false);
        }
    });

    $(document).on("click", "#myProject1", function () {
        Swal.fire({
            title: 'Redirect Notification',
            text: "You will be redirected to TerraTech Application!",
            imageUrl: 'https://edwardgarcia.live/assets/img/Projects1.PNG',
            imageWidth: 400,
            imageHeight: 200,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Okay!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("myProject1Link").click();
            }
        })
    });

    $(document).on("click", "#myProject2", function () {
        Swal.fire({
            title: 'Redirect Notification',
            text: "You will be redirected to Tourista! Application!",
            imageUrl: 'https://edwardgarcia.live/assets/img/Projects2.PNG',
            imageWidth: 400,
            imageHeight: 200,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Okay!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("myProject2Link").click();
            }
        })
    });



    function LoadMyHeader() {
        var myHeader =
            new Typed('#typed6', {
                strings: ['<h1 class="mt-3 mb-3 " style="font-weight: 750; ">Edward Garcia</h1>^500<h3 class="mb-1 ">Specialized in Oracle Data Management</h3><h3 class="mb-5 ">Software Engineer</h3>'],
                typeSpeed: 20,
                backSpeed: 5,
                loop: false,
                showCursor: false
            });
    }

    //WRITING SECTION
    //document.addEventListener('DOMContentLoaded', function () {
    //    var typed = new Typed('#typedOracle', {
    //        stringsElement: '#typed-strings',
    //        loop: false,
    //        showCursor: false
    //    });
    //    document.querySelector('.reset').addEventListener('click', function () {
    //        typed.reset();
    //    });
    //});



</script>